$primary: #74b3ce;
$secondary: #09bc8a;
$dark_primary: #172a3a;
$dark_secondary: #004346;
$accent: #508991;
$light_text: rgb(230, 230, 230);
$dark_text: rgb(28, 28, 28);
$light_background: rgb(255, 248, 224);
$dark_background: rgb(16, 17, 22);
